@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Weston.ac Crime Conundrum";
}

<div class="jumbotron">
  <h1 class="display-4">About Weston.ac Crime Conundrum!</h1>
  <p class="lead">This is a simple app to consume a restful API. I used the excellent Refit package with .NET 6 as I've not used either before.</p>
  <p class="lead">If you have any questions about this app or the choices I made in it's development, please feel free to get in touch</p>
  <hr class="my-4">
  <p>All the best ... Dave Groves.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Home" asp-action="Index">Thanks!</a>
  </p>
</div>